# dependencias
/node_modules

# build de Next.js
/.next
/out
next-env.d.ts
tsconfig.tsbuildinfo

# variables de entorno (¡NUNCA subir a GitHub!)
.env
.env.local
.env*.local

# sistema
.DS_Store
*.log
